.container {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.rightLinks {
  display: flex;
  gap: 20px;
}

.rightLinks a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
